
  <nav>
    <div class="nav-wrapper blue">
      <div class="container">
        <a [routerLink]="['/home']" class="brand-logo">Cuiabanidade Web</a>
        <ul class="right">
  	      <li><a [routerLink]="['/home']">Home</a></li>
  	      <li><a [routerLink]="['/categories']">Categorias</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <div class="container">

    </div>
    <router-outlet></router-outlet>

    <div class="container">
      <footer class="center">
        ©2016 Cuiabanidade | All Rights Reserved
        <br/>
        Cuiabanidade And All Respective Names are Trademark and © of AbranchesDev 2016-2017
      </footer>
    </div>
